@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Emblema+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Monoton&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Emblema+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Monoton&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Emblema+One&family=Ga+Maamli&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Monoton&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* "Emblema One", system-ui||"Merriweather", serif||"Lora", serif === font||"Bebas Neue", sans-serif||"Monoton", sans-serif ||"Anton SC", sans-serif||"Ga Maamli", sans-serif*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    position: relative;
    display: flex;
}

/*                                //// Left Section \\\\                           */

.left {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    margin: 10px 4px 10px 10px;
    background-color: black;
    width: 25%;
    height: 96vh;
    border-radius: 7px;
    transition: 0.5s;
    animation: main 0.5s ease 4.65s forwards;

}

.upper-section {
    padding: 15px;
    border-radius: 7px;
    background: linear-gradient(135deg, #000000, #1b4d3e);
    max-height: 20%;
}

.upper-section ul {
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    list-style: none;
    color: white;
}

.upper-section ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.upper-section .close {
    position: absolute;
    right: 10px;
}

.lower-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    background-color: rgb(11, 10, 10);
    height: 90%;
}

.lower-section .Library {
    font-family: "Merriweather", serif;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
}

.songlist {
    overflow-y: auto;
    height: 60vh;
}

.songlist .playnow {
    width: 8vw;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.songlist .info {
    width: 50vw;
    display: flex;
    gap: 10px;
}

.songlist ul {
    margin: 0px 10px 0px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.songlist ul li {
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    list-style: decimal;
    border-radius: 7px;
    background: linear-gradient(135deg, #000000, #1b4d3e);
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.songlist ul li:hover {
    scale: 1.02;
    transition: 0.5s;
}

.songlist ul:hover>:not(:hover) {
    filter: blur(2px);
}

.lower-section .bottom {
    display: flex;
}

.lower-section .bottom ul {
    display: flex;
    flex-grow: inherit;
    flex-shrink: inherit;
    max-width: 100%;
    align-items: center;
    gap: .6rem;
    list-style: none;
}

.lower-section .bottom ul li a {
    flex-grow: 100%;
    flex-shrink: 100%;
    color: white;
    font-size: .7rem;
    cursor: pointer;
    font-family: "Merriweather", serif;
}

/*                                   //// Right Section \\\\                       */

.right {
    opacity: 0;
    position: relative;
    margin: 10px 10px 10px 4px;
    background-color: rgb(11, 10, 10);
    width: 75%;
    height: 96vh;
    border-radius: 7px;
    animation: main 0.5s ease 4.65s forwards;

}

.right nav {
    border-radius: 4px;
    background: linear-gradient(135deg, #000000, #1b4d3e);
    padding: 12px;
    max-width: 100%;
    min-height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right nav .svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    cursor: pointer;
}

.right nav .buttons-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.buttons-container .sign-up-btn {
    font-family: "Merriweather", serif;
    background-color: #1b4d3e;
    border: none;
    padding: 11px 14px;
    border-radius: 34px;
    color: white;
    cursor: pointer;
}

.buttons-container .sign-up-btn:hover {
    background-color: rgb(19, 17, 17);
    padding: 14px 16px;
    transition: 0.5s;
}

.buttons-container .log-in-btn {
    font-family: "Merriweather", serif;
    background-color: white;
    color: black;
    padding: 10px 18px;
    border-radius: 34px;
    border: none;
    cursor: pointer;
}

.buttons-container .log-in-btn:hover {
    padding: 13px 21px;
    font-weight: 700;
    transition: 0.5s;
}

.right h1 {
    margin: 10px;
    font-family: "Merriweather", serif;
}

.right .playbar {
    position: absolute;
    bottom: 0;
    height: 9vh;
    width: 100%;
    background: linear-gradient(135deg, #000000, #1b4d3e);
    border-radius: 3px;
}

.filter {
    filter: invert(1);
}

.right .container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 7px;
    margin: auto;
    width: 95%;
    height: 63vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000
}

::-webkit-scrollbar-thumb {
    background: #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.right .cardcontainer {
    position: relative;
    padding: 4px 0px 0px 0px;
    background-color: #161313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 44vh;
    border-radius: 3px;
    gap: 3px;
    cursor: pointer;
}

.right .cardcontainer .card-info {
    font-size: 15px;
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    width: 95%;
}

.right .cardcontainer .img1 {
    margin: 15px 5px 0;
    border-radius: 3px;
    min-width: 93%;
    min-height: 65%;
    object-fit: cover;
    cursor: pointer;
}

.right .cardcontainer .green-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: rgba(45, 181, 45, 0.017);
    border-radius: 100px;
    opacity: 0;
    z-index: 2;
}

.right .cardcontainer:hover {
    transition: 0.5s;
    border: 1px solid black;
    background-color: rgba(88, 88, 88, 0.285);
    scale: 1.01;
}

/*                                  //// Playbar \\\\                             */

.right .playbar {
    display: flex;
    justify-content: space-between;
}

.playbar div {
    display: flex;
    align-items: center;
    color: white;
    margin: 10px;
}

.playbar .song-info {
    font-family: "Anton SC", sans-serif;
    width: 20vw;
}

.playbar .duration {
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-buttons {
    cursor: pointer;
}

.seekbar {
    position: absolute;
    border-radius: 5px;
    background-color: rgb(2, 143, 113);
    width: 95%;
    height: 8px;
    bottom: 3px;
    left: 10px;
    cursor: pointer;
}

.circle {
    position: absolute;
    background-color: rgb(4, 58, 36);
    border-radius: 100px;
    width: 16px;
    height: 16px;
    bottom: -4px;
    left: 0%;
    cursor: pointer;
    transition: 0.3s;
}

.s {
    opacity: 0;
    animation: text_spotify 0.5s ease 1s forwards, spotify_box 0.5s ease 1.7s forwards, spotify_box2 0.5s ease 2.5s forwards;
}

.p {
    opacity: 0;
    animation: text_spotify 0.5s ease 1.1s forwards, spotify_box 0.5s ease 1.75s forwards, spotify_box2 0.5s ease 2.55s forwards;
}

.o {
    opacity: 0;
    animation: text_spotify 0.5s ease 1.2s forwards, spotify_box 0.5s ease 1.8s forwards, spotify_box2 0.5s ease 2.6s forwards;
}

.t {
    opacity: 0;
    animation: text_spotify 0.5s ease 1.3s forwards, spotify_box 0.5s ease 1.85s forwards, spotify_box2 0.5s ease 2.65s forwards;
}

.i {
    opacity: 0;
    animation: text_spotify 0.5s ease 1.4s forwards, spotify_box 0.5s ease 1.9s forwards, spotify_box2 0.5s ease 2.7s forwards;
}

.f {
    opacity: 0;
    animation: text_spotify 0.5s ease 1.5s forwards, spotify_box 0.5s ease 1.95s forwards, spotify_box2 0.5s ease 2.75s forwards;
}

.y {
    opacity: 0;
    animation: text_spotify 0.5s ease 1.6s forwards, spotify_box 0.5s ease 2s forwards, spotify_box2 0.5s ease 2.8s forwards;
}

.logo,
.spotify {
    position: absolute;
    z-index: 2;
}

.spotify {
    display: flex;
    font-size: 70px;
    left: 48%;
    top: 31%;
    animation: spotify_text2 0.4s ease 3.5s forwards, original_text 0.7s cubic-bezier(1, 0.05, 0.16, 0.98) 4s forwards;
}

.logo {
    left: 41%;
    top: 30%;
    animation: logo 0.4s ease 3.5s forwards, original_logo 0.7s cubic-bezier(1, 0.05, 0.16, 0.98) 4s forwards;

}

.logo img {
    width: 42px;
    opacity: 0;
    animation: first_logo 0.5s ease 0.5s forwards, spotify_img 0.4s ease 3.5s forwards, original_img 0.7s cubic-bezier(1, 0.05, 0.16, 0.98) 4s forwards;
}

/*                            //// Media query Section \\\\                                */

@media (min-width:306px) {

    .right h1 {
        font-size: 25px;
    }

    .logo {
        left: 38%;
    }

    .spotify {
        left: 17%;
        top: 43%;
    }

    @keyframes original_text {
        from {}

        to {
            font-size: 26px;
            opacity: 0;
        }
    }

    @keyframes original_img {
        from {}

        to {
            width: 40px;
        }
    }

    @keyframes original_logo {
        from {}

        to {

            opacity: 0;
        }
    }

    @keyframes logo {
        from {}

        to {
            left: 37%;
        }

    }

    @keyframes spotify_text2 {
        from {}

        to {
            left: 16%;
            font-size: 80px;
        }
    }

    @keyframes spotify_img {
        from {}

        to {
            width: 105px;
        }
    }

    @keyframes spotify_box2 {
        from {}

        to {
            text-shadow: none;
        }
    }

    @keyframes spotify_box {
        from {}

        to {
            text-shadow: 4px 10px 5px rgb(75, 155, 75);
        }
    }

    @keyframes text_spotify {
        from {}

        to {
            opacity: 1;
        }
    }

    @keyframes first_logo {
        from {}

        to {
            opacity: 1;
            width: 90px;
        }
    }

    @keyframes main {
        from {}

        to {
            opacity: 10;
        }
    }

    .left {
        z-index: 4;
    }

    .right .container .cardcontainer {
        gap: 20px;
    }

    .left {
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        height: 100%;
        left: -100vw;
    }

    .songlist .playnow {
        width: 11vw;
        gap: 3px;
    }

    .right {
        height: 100vh;
        margin: 0px 4px;
        width: 100%;
    }

    .right .container .cardcontainer {
        border-radius: 13px;
        width: 85vw;
        height: 62vh;
    }

    .right .container .cardcontainer img {
        width: 80vw;
        border-radius: 7px;
    }

    .right .container .green-btn {
        width: 60px;
        height: 60px;
        bottom: 110%;
    }

    .right .playbar {
        height: 17vh;
        display: flex;
        gap: 0;
        align-items: center;
    }

    .right .playbar .song-info {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 0px 0px 10px white;
        display: flex;
        justify-content: center;
        width: 200px;
        height: 0;
        margin-top: 20px;
        font-size: 15px;
    }

    .right .playbar .duration {
        width: 200px;
        display: flex;
    }

    .right .playbar .play-buttons {
        margin-bottom: 18px;
    }
}

@media (min-width:340px) {
    .logo {
        left: 38.5%;
    }

    .spotify {
        left: 18%;
        top: 43%;
    }

    .left {
        width: 90%;
    }
}

@media (min-width:360px) {
    .logo {
        left: 39%;
    }

    .spotify {
        left: 21%;
        top: 43%;
    }

    @keyframes spotify_text2 {
        from {}

        to {
            left: 17.5%;
            font-size: 80px;
        }
    }
}

@media (min-width:380px) {
    .logo {
        left: 40%;
    }

    .spotify {
        left: 22%;
        top: 43%;
    }

    @keyframes spotify_text2 {
        from {}

        to {
            left: 19.5%;
            font-size: 80px;
        }
    }

    @keyframes logo {
        from {}

        to {
            left: 38%;
        }

    }
}

@media(min-width:400px) {
    .logo {
        left: 42%;
    }

    .spotify {
        left: 25%;
        top: 43%;
    }

    @keyframes spotify_text2 {
        from {}

        to {
            left: 22%;
            font-size: 80px;
        }
    }

    @keyframes logo {
        from {}

        to {
            left: 40%;
        }
    }

    .left {
        width: 80%;
    }
}

@media (min-width:450px) {
    .logo {
        left: 46%;
    }

    .spotify {
        left: 29%;
        top: 43%;
    }

    @keyframes spotify_text2 {
        from {}

        to {
            left: 27%;
            font-size: 80px;
        }
    }

    @keyframes logo {
        from {}

        to {
            left: 44%;
        }

    }

    .left {
        width: 70%;
    }
}

@media (min-width:500px) {
    .logo {
        left: 21%;
        top: 40%;
    }

    .spotify {
        left: 40%;
        top: 41%;
    }

    @keyframes spotify_text2 {
        from {}

        to {
            left: 40%;
            font-size: 80px;
        }
    }

    @keyframes logo {
        from {}

        to {
            left: 17%;
        }
    }

    .left {
        width: 60%;
    }

    .songlist .playnow {
        gap: 10px;
    }

    .right .container {
        gap: 10px;
    }

    .right .container .cardcontainer {
        width: 44vw;
    }

    .right .container .cardcontainer img {
        width: 42vw;
        height: 44vh;
    }
}

@media (min-width:620px) {
    .logo {
        left: 29%;
        top: 40%;
    }

    .spotify {
        left: 44%;
        top: 41%;
    }

    @keyframes spotify_text2 {
        from {}

        to {
            left: 44%;
            font-size: 80px;
        }
    }

    @keyframes logo {
        from {}

        to {
            left: 28%;
        }
    }

    .left {
        width: 55%;
    }

    .right .playbar .duration {
        padding-right: 100px;
        margin: 0;
    }

    .right .playbar .play-buttons {
        margin: 0;
    }

    .right .playbar .song-info {
        margin: 0;
        width: 15vw;
        padding-left: 20px;
    }

    .right .playbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width:700px) {
    .left {
        width: 50%;
    }
}

@media (min-width:770px) {
    .left {
        width: 45%;
    }

    .right .container .cardcontainer {
        gap: 10px;
        width: 30vw;
        height: 51vh;
    }

    .right .container .cardcontainer img {
        width: 28vw;
    }
}

@media (min-width:810px) {
    .left {
        width: 43%;
    }
}

@media (min-width:850px) {
    .left {
        width: 40%;
    }
}

@media (min-width:900px) {
    .left {
        width: 38%;
    }
}

@media (min-width:950px) {
    .left {
        width: 37%;
    }
}

@media (min-width:1000px) {
    .left {
        width: 35%;
    }
}

@media (min-width:1050px) {
    .left {
        width: 33%;
    }
}

@media (min-width:1100px) {
    .left {
        z-index: 1;
    }

    .logo {
        left: 40%;
    }

    .spotify {
        left: 49%;
    }

    @keyframes original_text {
        from {}

        to {
            font-size: 30px;
            left: 15.3%;
            top: 6.5%;
        }
    }

    @keyframes original_img {
        from {}

        to {
            width: 42px;
        }
    }

    @keyframes original_logo {
        from {}

        to {
            left: 11%;
            top: 6%;
        }
    }

    @keyframes logo {
        from {}

        to {
            left: 40%;
        }

    }

    @keyframes spotify_text2 {
        from {}

        to {
            left: 49.5%;
            font-size: 80px;
        }
    }

    @keyframes spotify_img {
        from {}

        to {
            width: 105px;
        }
    }

    @keyframes spotify_box2 {
        from {}

        to {
            text-shadow: none;
        }
    }

    @keyframes spotify_box {
        from {}

        to {
            text-shadow: 4px 10px 5px rgb(75, 192, 75);
        }
    }

    @keyframes text_spotify {
        from {}

        to {
            opacity: 1;
        }
    }

    @keyframes first_logo {
        from {}

        to {
            opacity: 1;
            width: 90px;
        }
    }

    @keyframes main {
        from {}

        to {
            opacity: 10;
        }

    }

    .right .playbar .duration {
        padding-right: 100px;
        margin: 0;
    }

    .right .playbar .play-buttons {
        margin: 0;
        padding-right: 40px;
    }

    .right .playbar .song-info {
        margin: 0;
        width: 20vw;
    }

    .right .playbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .right .svg-container .hamburger {
        opacity: 0;
    }

    .close {
        opacity: 0;
    }

    .left {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px 0;
        margin: 10px 4px 10px 10px;
        background-color: black;
        width: 30%;
        height: 96vh;
        border-radius: 7px;
        left: 0;
    }

    .right {
        position: relative;
        height: 96vh;
        margin: 10px 4px;
        width: 70%;
    }

    .right .container .cardcontainer {
        width: 20vw;
    }

    .right .container .cardcontainer img {
        width: 18vw;
        height: 35vh;
    }

    .right .playbar {
        height: 15vh;
    }
}

@media (min-width:1250px) {
    @keyframes original_logo {
        from {}

        to {
            left: 11.5%;
            top: 6%;
        }
    }
}

@media (min-width:1400px) {
    .left {
        width: 25%;
    }

    .right {
        width: 75%;
    }

    .right .container {
        gap: 15px;
    }

    .right .container .cardcontainer {
        width: 16vw;
    }

    .right .container .cardcontainer img {
        width: 14vw;
    }
}

@media (min-width:1550px) {
    .logo {
        left: 42%;
    }

    .spotify {
        left: 48%;
    }

    @keyframes original_text {
        from {}

        to {
            font-size: 30px;
            left: 14.5%;
            top: 6.5%;
            opacity: 1;
        }
    }

    @keyframes spotify_text2 {
        from {}

        to {
            left: 48%;
            font-size: 80px;
        }
    }
}